{
  "ConnectionStrings": {
    "HMISConnection": "User Id=HMIS;Password=YOUR_PASSWORD;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.10.73)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=deverp)))",
    "HOS_WEB_MVC_LIVE": "User Id=HOSWEB_MVC_LOCAL;Password=YOUR_PASSWORD;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.10.73)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=deverp)))"
  }
}
